<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn-->
<configuration status="warn">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%-5level] [%t] %c{1} - %m%n"/>
        </console>

        <RollingFile name="RollingFile" fileName="/tmp/log/test.log"
                     filePattern="/tmp/log/test-%i.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%-5level] [%t] %c{1} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>